.header{
    display: flex;
    font-size:1vw;
    background: rgb(222,170,81);
    background: -moz-linear-gradient(270deg, rgba(222,170,81,1) 0%, rgba(227,245,111,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(222,170,81,1) 0%, rgba(227,245,111,1) 100%);
    background: linear-gradient(270deg, rgba(222,170,81,1) 0%, rgba(227,245,111,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#deaa51",endColorstr="#e3f56f",GradientType=1);
}

.logoStyle{
    margin: 1vh .5vw;
}
/*  */