body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(237,244,193); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(237,244,193,1) 0%, rgba(221,181,117,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(237,244,193,1) 0%,rgba(221,181,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(237,244,193,1) 0%,rgba(221,181,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4c1', endColorstr='#ddb575',GradientType=1 ); /* IE6-9 */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
